

@font-face {
    font-family: BoldBrown;
    src: url("/assets/fonts/BrownExtraBold.ttf");
}

@font-face {
    font-family: LightBrown;
    src: url("/assets/fonts/BrownLight\ Regular.ttf");
}
@font-face {
    font-family: sofiaPro;
    src: url("/assets/fonts/sofiapro-light.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f7fdfc;
}


.headerlogo img{
  width: 4.83331rem;
  height: 5rem;
}

.containter {

    display: flex;
    /* align-items: center; */
    padding: 2rem;
    justify-content: center;

}

.firstPart {
    margin-top: 12.81rem;
    width: 40%;
    margin-right: 7.5px;
}
.section_h2 {
    color: #000B0A;
    line-height: 3.125rem;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 3.12px 0 1.25px 0;
    font-family: BoldBrown;
}

.section_p {
    color: #737373;
    font-weight: 400;
    line-height: 1.5625rem;
    font-size: 1rem;
    font-family: LightBrown;
}

.section_pp {
    display: none;
}

.form_control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.flexInput {
    display: flex;
    flex-wrap: wrap;
}

.addmargin {
    margin-left: 1.5rem;
}

form {
    background-color: #FFF;
    margin-top: 5.06rem;
    box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.form_control input, .form_control select {
    width: 100%;
    border-radius: 2px;
    padding: 0.8rem 1rem;
    margin-top: 0.62rem;
    outline: none;
    border: 1px solid #edeff2;
}

#genderDropdown {
  padding-right: 2.4rem;
}

/* select::placeholder {
  background-color: red;
} */


.form_control label {
    color: #011C34;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: normal;
    margin-top: 1.88rem;
    font-family: sofiaPro;
}

.form_control input:focus, .form_control select:focus{
    border: 1px solid #7bd9d0;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: gray;
}
/* 
.date::-webkit-calendar-picker-indicator {
    display: none;
  } */
  /* input[type="date"]::-webkit-input-placeholder {
    display:none;
  }
  .date::before {
    content: 'select date ';
    display: block;
    color: #999; 
  } */

  .passwordContainer {
    position: relative;
  }
  
  .eye-toggle {
    position: absolute;
    top: 65%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eye-toggle img {
    width: 20px;
    height: 15px;
  }

  .btn {
    width: 100%;
    border-radius: 2px;
    padding: 0.8rem 1rem;
    margin-top: 1.88rem;
    margin-bottom: 1rem;
    outline: none;
    /* border: 1px solid #2EC4B6; */
    border: none;
    background-color: #2EC4B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
  }

  .btn p {
    font-family: sofiaPro;
  }

  footer {
    padding: 1px 1rem 1.5rem 1rem;
  }

  footer p {
    text-align: center;
    line-height: 1.5625rem;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: sofiaPro;
  }

  footer p span a{
    color: #2EC4B6;
    font-weight: 500;
    font-size: 0.875rem;
    font-style: normal;
  }

  .footer {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .containter {
        padding: 2rem;
    }
    .firstPart {
        width: 60%;
    }
  }
  

  @media screen and (max-width: 481px) {
    .containter {
      flex-direction: column;
      margin: 1.88rem 1.5rem 1.5rem 1.5rem;
      padding: 0rem;
    }
    .firstPart {
        width: 100%;
        margin-top: 0;
    }

    .section_h2 {
        line-height: normal;
        font-size: 1.875rem;
        margin: 1.2rem 0 0.5rem 0;
    }

    .addmargin {
        margin-left: 0;
    }

    .flexInput {
        flex-direction: column;
    }

    .headerlogo img{
        width: 2.41669rem;
        height: 2.5rem;
    }

    .section_p {
        display: none;
    }

    .section_pp {
        display: block;
        color: #737373;
        font-weight: 300;
        line-height: 1.5625rem;
        font-size: 1rem;
        font-family: LightBrown;
    }

    form {
        padding: 1.5rem 1rem;
        margin-top: 2.5rem;
    }
    .footer {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
      }
      .foot {
        display: none;
      }
  }
